@use "../../styles/partials/mixins" as *;

.header-button {
    position: relative;
    background-color: aliceblue;
    height: 3.52rem;
    width: 3.52rem;
    border-radius: 50%;
    font-weight: 700;
    text-align: center;

}

.react-icons-custom {

    font-size: 2.6rem !important;
    position: absolute;
    top: 0.5rem;
    right: -0.5rem;
}

// .header-span {
//     position: "absolute";
//     top: "1rem";
//     right: "2rem";
//     width: "1.5rem";
//     height: "1.5rem";
//     font-size: "0.8rem";
// }