*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #1D2125;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: #1D2125;
}

h1,
h2,
h3,
p,
ul,
a {
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
}

ul {
  list-style-type: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}